<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="/static/css/style.css" /> -->
    <title>Tennis App</title>
    <meta name = "description" content = "Tennis App"> 
    <meta name = "authors" content = "Akihiro Ota">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
  <div class="center">
    <p> This is the official Tennis App of Akihiro Ota.
    </p>
    {% block content %}
    {% endblock %}
  </div>
</body>
  
<footer>
  Designed by Akihiro Ota
</footer>
</html>